[access]
	inheritFrom = All-Projects
[project]
	description = SNMP Plugin
[access "refs/*"]
	owner = group ldap/gerrit-snmp4sdn-committers
	read = group GitHub Replication
[receive]
	requireChangeId = true
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
