[access]
	inheritFrom = All-Projects
[project]
	description = SNMP Plugin
[access "refs/*"]
	owner = group ldap/odl-gerrit-snmp4sdn-committers
	owner = group saml/odl-gerrit-snmp4sdn-committers
	read = group GitHub Replication
[receive]
	requireChangeId = true
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
