[access]
	inheritFrom = All-Projects
[project]
	description = SNMP Plugin
[access "refs/*"]
	owner = group ldap/gerrit-snmp4sdn-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Non-Interactive snmp4sdn users
	read = group Registered Users
	read = group ldap/gerrit-snmp4sdn-committers
	forgeAuthor = group ldap/gerrit-snmp4sdn-committers
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-snmp4sdn-committers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-snmp4sdn-committers
	label-Code-Review = -1..+1 group Non-Interactive snmp4sdn users
	label-Code-Review = +1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive snmp4sdn users
	label-Verified = -1..+1 group ldap/gerrit-snmp4sdn-committers
	submit = group ldap/gerrit-snmp4sdn-committers
	create = group Non-Interactive snmp4sdn users
	forgeAuthor = group Non-Interactive snmp4sdn users
	forgeCommitter = group Non-Interactive snmp4sdn users
	push = group Non-Interactive snmp4sdn users
	pushMerge = group Non-Interactive snmp4sdn users
[access "refs/tags/*"]
	pushTag = group Non-Interactive snmp4sdn users
	pushTag = +force group ldap/gerrit-snmp4sdn-committers
	create = group ldap/gerrit-snmp4sdn-committers
	forgeCommitter = group Non-Interactive snmp4sdn users
	push = group Non-Interactive snmp4sdn users
	push = +force group ldap/gerrit-snmp4sdn-committers
